.slide-in-bar {
  position: fixed;
  width: 70vw;
  height: 100vh;
  background-color: white;
  top: 0;
  box-shadow: rgb(0 0 0 / 20%) 0 0.5rem 0.6rem -0.3rem, rgb(0 0 0 / 14%) 0 1rem 1.5rem 0.13rem, rgb(0 0 0 / 12%) 0 0.4rem 1.9rem 0.3rem;
  overflow: hidden;
}

.slide-in--hidden-left {
  left: -100%;
}

.slide-in--close-left {
  left: 0;
  animation: close-left 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.slide-in--open-left {
  transform: translateX(-100%);
  animation: open-left 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes open-left {
  to {
    transform: translateX(0%);
  }
}

@keyframes close-left {
  to {
    transform: translateX(-100%);
  }
}

.slide-in--hidden-right {
  right: -100%;
}

.slide-in--close-right {
  right: 0;
  animation: close-right 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.slide-in--open-right {
  right: 0;
  transform: translateX(100%);
  animation: open-right 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes open-right {
  to {
    transform: translateX(0%);
  }
}

@keyframes close-right {
  to {
    transform: translateX(100%);
  }
}

.slide-in-nav-header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  width: inherit;
  height: 3.75rem;
  font-size: 1.5rem;
  color: var(--primary-color-contrast-text);
  top: 0;
}

.slide-in-title {
  padding: 0 1rem;
}
