.MuiSelect-nativeInput {
  height: 2rem;
}

.MuiSelect-iconStandard.MuiSelect-icon {
  top: 10%;
}

.MuiSelect-select.MuiInputBase-input.MuiInput-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  text-align: right;
  min-width: 6.88rem;
  padding-right: 2rem;
  font-weight: 500;
}

.language-switcher-select--standard {
  svg {
    transform: none;
    display: block;
  }

  .MuiSelect-icon {
    color: $secondaryColorContrast;
  }
  > div {
    color: $primaryColor;

    &:hover {
      color: $primaryColor;
    }
  }
}

.language-switcher-select--small {
  svg {
    transform: rotate(180);
  }

  .MuiSelect-icon {
    color: $primaryColorContrast;
  }

  > div {
    color: $primaryColorContrast;

    &:hover {
      color: $primaryColorContrast;
    }
  }
}

.language-switcher-select.MuiInputBase-root.MuiInput-root {
  display: flex;
  height: 2rem;
  padding: 0 0.5rem;
  justify-content: center;
}

.language-switcher-select,
.MuiSelect-select.MuiInputBase-input.MuiInput-input {
  min-width: 6.88rem;
  height: 2rem;
}

.MuiList-root.MuiMenu-list {
  padding: 0;
  min-width: 7.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.MuiList-root {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.MuiFormLabel-root.MuiInputLabel,
.MuiInputLabel-root {
  text-align: center;
}

.language-switcher-container.MuiFormControl-root {
  padding-right: 0.8rem;
  max-width: 10rem;
}
