.nav-menu {
  width: 100vw;

  &-button {
    width: 100%;

    & svg {
      overflow: auto;
    }
  }

  &-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    justify-items: center;
    align-items: center;
    min-height: 4.19rem;
    background-color: var(--primary-color-light);

    & a {
      text-decoration: none;
    }

    & .icon-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 4.19rem;
      border-radius: unset;
    }
  }
}
