.slide-in-provider {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.slide-in-provider-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  animation: fade-out 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.slide-in-provider-overlay--visible {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}
