.icon-button--primary-contrast svg {
  fill: var(--primary-color-contrast);
  stroke: var(--primary-color-contrast);
  color: var(--primary-color-contrast);
}

.icon-button--secondary svg {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  color: var(--secondary-color);
}

.icon-button--secondary-contrast svg {
  fill: var(--secondary-color-contrast);
  stroke: var(--secondary-color-contrast);
  color: var(--secondary-color-contrast);
}

.test-class__icon-button-label {
  color: red;
}
