.icon-button--primary-contrast svg {
  fill: var(--primary-color-contrast);
  color: var(--primary-color-contrast);
}

.icon-button--secondary svg {
  fill: var(--secondary-color);
  color: var(--secondary-color);
}

.icon-button--secondary-contrast svg {
  fill: var(--secondary-color-contrast);
  stroke: var(--secondary-color-contrast);
  color: var(--secondary-color-contrast);
}

.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-button-label {
  font-size: 0.63rem;
  padding: 0.25rem;
}

.icon-button-label--primary-contrast {
  color: var(--primary-color-contrast);
}

.icon-button-label--secondary {
  color: var(--secondary-color);
}
