.icon-button,
.icon-button--primary {
  color: var(--primary-color) !important;
}

.icon-button--primary-contrast {
  color: var(--primary-color-contrast) !important;
}

.icon-button--secondary {
  color: var(--secondary-color) !important;
}

.icon-button--secondary-contrast {
  color: var(--secondary-color-contrast) !important;
}

.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-button-label {
  font-size: 0.63rem;
  padding: 0.25rem;
}

.icon-button--primary svg {
  color: white;
  fill: var(--primary-color);
}

.icon-button-label--primary {
  color: var(--primary-color);
}

.test-class__icon-button .extra-test-class__icon-button svg {
  color: red;
}
