.nav-menu {
  width: 100vw;
}

.nav-menu-button {
  width: 100%;
}

.nav-menu-button svg {
  overflow: auto;
}

.nav-menu-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  justify-items: center;
  align-items: center;
  min-height: 4.19rem;
  background-color: var(--primary-color-light);
}

.nav-menu-buttons-container a {
  text-decoration: none;
}

.nav-menu-buttons-container .icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 4.19rem;
  border-radius: unset;
}
