.slide-in-profile-content {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f6;
}

.profile-user-pic {
  display: flex;
  align-items: center;
  padding: 1.8rem 0.5rem 1rem 0.6rem;
}

.blank-spot {
  height: 4.125rem;
  width: 4.125rem;
  background-color: #d9d9d9;
  border-radius: 50%;
}
