.icon-button,
.icon-button--secondary svg {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  color: var(--secondary-color);
}

.icon-button,
.icon-button--primary svg {
  fill: var(--primary-color-contrast-text);
  stroke: var(--primary-color-contrast-text);
  color: var(--primary-color-contrast-text);
}
